/* ItemListContainer.css */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
    margin: 10px;
    background-color: yellow;
  }
  